<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <title>Indy Eleven Match Feed</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Indy Eleven Match Feed</h1>
                <p>Stay up to date on Indy Eleven matches with this Atom Feed!</p>
                <p><a class="btn btn-primary btn-lg" href="/feed.xml">Get the feed</a></p>
            </div>

            <p class="lead">Sometimes you can't watch every game, and sometimes you forget to check the score afterwards. Don't worry about it!
            You can use this feed that pulls directly from the <a href="http://www.indyeleven.com">Indy Eleven website</a>. Connect
            it with <a href="http://feedly.com">Feedly</a> or <a href="http://ifttt.com">IFTTT</a> and never miss out.

            <p style="margin-top: 200px">Please keep in mind this is not associated with the Indy Eleven or NASL, this is just me trying to stay updated.</p>
        </div>
    </body>
</html>
