<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <title>Indy Eleven Match Feed</title>
        <link rel="alternate" type="application/atom+xml" title="Indy Eleven Matches" href="/feed.xml" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Indy Eleven Match Feed</h1>
                <p>Stay up to date on Indy Eleven matches with this Atom Feed!</p>
                <p><a class="btn btn-primary btn-lg" href="/feed.xml">Get the feed</a></p>
            </div>

            <p class="lead">Sometimes you can't watch every game, and sometimes you forget to check the score afterwards. Don't worry about it!
            You can use this feed that pulls directly from the <a href="http://www.indyeleven.com">Indy Eleven website</a>. Connect
            it with <a href="http://feedly.com/index.html#subscription%2Ffeed%2Fhttp%3A%2F%2Findyelevenfeed.jasonbutz.info%2Ffeed.xml">Feedly</a> or <a href="http://ifttt.com">IFTTT</a> and never miss out.

            <h2>IFTTT Shared Recipes</h2>
            <p><a href="https://ifttt.com/view_embed_recipe/183824-text-me-indy-eleven-match-results" target = "_blank" class="embed_recipe embed_recipe-l_33" id= "embed_recipe-183824"><img src= 'http://ifttt.com/recipe_embed_img/183824' alt="IFTTT Recipe: Text me Indy Eleven match results connects feed to sms" width="370px" style="max-width:100%"/></a></p>
            <script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script>

            <p><a href="https://ifttt.com/view_embed_recipe/183825-send-me-indy-eleven-match-results-via-pushover" target = "_blank" class="embed_recipe embed_recipe-l_46" id= "embed_recipe-183825"><img src= 'http://ifttt.com/recipe_embed_img/183825' alt="IFTTT Recipe: Send me Indy Eleven match results via Pushover connects feed to pushover" width="370px" style="max-width:100%"/></a></p>
            <script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script>

            <hr style="margin-top: 200px" />
            <p>Please keep in mind this is not associated with the Indy Eleven or NASL, this is just me trying to stay updated.</p>
            <p><a href="https://github.com/jbutz/indyelevenfeed">View the code on GitHub</a></p>
        </div>
    </body>
</html>
